<h1 dir="rtl" mat-dialog-title>{{title}}</h1>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-content>
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
            <mat-form-field fxFlex>
                <mat-label>رمز جدید</mat-label>
                <input matInput id="Password" name="Password" [(ngModel)]="model.Password" required minlength="2"
                    maxlength="250" type="text" autocomplete="off" #f3="ngModel">
                <mat-error *ngIf="  f3.invalid && (f3.dirty || f3.touched) && f3.errors?.['required']">
                    <strong>رمز جدید</strong> اجباری است.
                </mat-error>
                <mat-error *ngIf="  f3.invalid && (f3.dirty || f3.touched) && f3.errors?.['required']">
                    <strong>رمز جدید</strong> حداقل 2 حرفی است.
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>تکرار رمز جدید</mat-label>
                <input matInput id="RePassword" name="RePassword" [(ngModel)]="model.RePassword" required minlength="2"
                    maxlength="250" type="text" autocomplete="off" #f4="ngModel">
                <mat-error *ngIf="  f4.invalid && (f4.dirty || f4.touched) && f4.errors?.['required']">
                    <strong>تکرار رمز جدید</strong> اجباری است.
                </mat-error>
                <mat-error *ngIf="  f4.invalid && (f4.dirty || f4.touched) && f4.errors?.['required']">
                    <strong>تکرار رمز جدید</strong> حداقل 2 حرفی است.
                </mat-error>
            </mat-form-field>

        </div>
        <mat-dialog-actions>
             <button mat-raised-button  [disabled]="!f.valid" type="submit">ثبت</button>
            <button mat-raised-button (click)="onNoClick()" type="reset">انصراف</button>
        </mat-dialog-actions>
    </div>
</form>
