<mat-toolbar *ngIf="authApi.isAuth" color="primary">
  <!-- <img style="height: 100px" src="/assets/image/logo.svg" /> -->

  <button mat-button [routerLink]="['/Index']"
    *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator', 'operator', 'reporter', 'guest'])">
    داشبـورد
  </button>

  <button mat-button [routerLink]="['/Cartable']"
    *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator',  'operator'])">
    کـارتابل
  </button>


  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m1">
      اطلاعات پـایه
    </button>
    <mat-menu #m1="matMenu" xPosition="after">


      <a [routerLink]="['/Organization']" mat-menu-item>سازمان</a>


      <a [routerLink]="['/Station']" mat-menu-item>دپارتمان</a>




    </mat-menu>
  </div>



  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button
      [matMenuTriggerFor]="m2">
      شهـروندان
    </button>
    <mat-menu #m2="matMenu" xPosition="after">
      <a [routerLink]="['/Person']" mat-menu-item>شهروند</a>
      <a [routerLink]="['/PersonTravel']" mat-menu-item>سفر شهروند</a>
      <a [routerLink]="['/PersonGroup']" mat-menu-item>گروه شهروند</a>



    </mat-menu>
  </div>

  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator'])" mat-button [matMenuTriggerFor]="m3">
      سفـرها
    </button>
    <mat-menu #m3="matMenu" xPosition="after">
      <a [routerLink]="['/Travel']" mat-menu-item> سفر </a>

      <a [routerLink]="['/TravelPath']" mat-menu-item>مسیر سفر</a>
      <a [routerLink]="['/TravelType']" mat-menu-item>عنوان سفر</a>
      <a [routerLink]="['/TravelCost']" mat-menu-item>هزینه سفر</a>
    </mat-menu>
  </div>

  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button
      [matMenuTriggerFor]="m4">
      درخـواست
    </button>
    <mat-menu #m4="matMenu" xPosition="after">
      <a [routerLink]="['/PersonRequest']" mat-menu-item>درخواست شهروند</a>
      <a [routerLink]="['/PersonRequestType']" mat-menu-item>نوع درخواست شهروند</a>
      <mat-divider><b></b></mat-divider>
      <a [routerLink]="['/RequestFlow']" mat-menu-item>گردش درخواست</a>
      <a [routerLink]="['/RequestFlowStation']" mat-menu-item>دپارتمان گردش درخواست</a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/PersonReuestStatus']" mat-menu-item>وضعیت درخواست شهروند</a>

    </mat-menu>
  </div>





  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' ])" mat-button
      [matMenuTriggerFor]="m6">
      پیـام‌ها
    </button>
    <mat-menu #m6="matMenu" xPosition="after">
      <a [routerLink]="['/AppUserInbox']" mat-menu-item>کـارتابل</a>
      <a [routerLink]="['/Message']" mat-menu-item>‌پیام‌ها</a>

      <!-- <a [routerLink]="['/SMSLogs']" mat-menu-item>تاریخچه ارسال پیامک</a> -->
      <!-- <a [routerLink]="['/EmailLogs']" mat-menu-item>تاریخچه ارسال ایمیل</a> -->
      <!-- <a [routerLink]="['/AppError']" mat-menu-item>تاریخچه خطا</a>
      <a [routerLink]="['/AppSetting']" mat-menu-item>تنظیمات سامانه</a> -->
    </mat-menu>
  </div>

  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m7">
      کـاربر
    </button>
    <mat-menu #m7="matMenu" xPosition="after">
      <a [routerLink]="['/AppUser']" mat-menu-item>کاربر</a>
      <a [routerLink]="['/AppUserGroup']" mat-menu-item>گروه کاربر</a>
      <a [routerLink]="['/AppUserStation']" mat-menu-item>دپارتمان کاربر</a>


    </mat-menu>
  </div>
  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m5">
      تـاریخچه
    </button>
    <mat-menu #m5="matMenu" xPosition="after">
      <a [routerLink]="['/PersonRequestHistory']" mat-menu-item>تاریخچه درخواست‌ها</a>
      <a [routerLink]="['/PersonOrganizationHistory']" mat-menu-item>تاریخچه سازمانی</a>
    </mat-menu>
  </div>

  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m8">
      تنظیمـات
    </button>
    <mat-menu #m8="matMenu" xPosition="after">

      <a [routerLink]="['/AppLogs']" mat-menu-item>تاریخچه فعالیت</a>
      <!-- <a [routerLink]="['/SMSLogs']" mat-menu-item>تاریخچه ارسال پیامک</a> -->
      <!-- <a [routerLink]="['/EmailLogs']" mat-menu-item>تاریخچه ارسال ایمیل</a> -->
      <a [routerLink]="['/AppError']" mat-menu-item>تاریخچه خطا</a>
      <a [routerLink]="['/AppSetting']" mat-menu-item>تنظیمات سامانه</a>
    </mat-menu>
  </div>

  <span style="flex: 1 1 auto"></span>


  <div *ngIf="authApi.isAuth" class="profilemenu" mat-icon-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row">
      <span style="font-size: small; padding-left: 4px">{{
        authApi.getFullName
        }}</span>
      <mat-icon>person</mat-icon>
    </div>
  </div>
  <mat-menu #userMenu="matMenu" xPosition="after">
    <a mat-menu-item>حساب کاربری</a>
    <a mat-menu-item>تغییر رمز</a>
    <button (click)="authApi.Logout()" mat-menu-item>خروج</button>
  </mat-menu>
  <button mat-mini-fab (click)="authApi.Logout()" matTooltip="خروج از سامانه">
    <mat-icon class="mat-12">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<div style="padding-bottom: 50px">
  <router-outlet></router-outlet>
</div>
<div *ngIf="authApi.isAuth" style="
      background-color: #f3f3f3ba;
      height: 36px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      margin-top: 50px;
    ">
  <div fxLayout="row">
    <button mat-button>حساب کاربـری</button>
    <span style="flex: 1 1 auto"></span>

    <div style="
          color: black;
          font-size: small;
          padding-top: 12px;
          padding-left: 8px;
        ">
      امروز: {{ date | jalali }} ■
      <span style="font-size: x-small">[{{ authApi.getRole().role }}]</span> ■
      ver:
      {{ appversion }}
    </div>
  </div>
</div>
