<mat-toolbar *ngIf="authApi.isAuth" color="primary">
  <!-- <img style="height: 25px" src="/assets/image/logo.svg" /> -->

  <button mat-button [routerLink]="['/Index']"
    *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])">
    داشبورد
  </button>

  

  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m1">
      داده‌های پایه
    </button>
    <mat-menu #m1="matMenu" xPosition="after">
      <a [routerLink]="['/Companies']" mat-menu-item>نمونه</a>
       
    </mat-menu>
  </div>



  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button [matMenuTriggerFor]="m2">
     منو اول
    </button>
    <mat-menu #m2="matMenu" xPosition="after">
      <a [routerLink]="['/Companies']" mat-menu-item>نمونه</a>
           </mat-menu>
  </div>

 <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button [matMenuTriggerFor]="m3">
     منو دوم
    </button>
    <mat-menu #m3="matMenu" xPosition="after">
      <a [routerLink]="['/Companies']" mat-menu-item>نمونه</a>
           </mat-menu>
  </div>

<div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button [matMenuTriggerFor]="m4">
     منو سوم
    </button>
    <mat-menu #m4="matMenu" xPosition="after">
      <a [routerLink]="['/Companies']" mat-menu-item>نمونه</a>
           </mat-menu>
  </div>

<div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin', 'poweroperator' , 'operator'])" mat-button [matMenuTriggerFor]="m5">
     منو چهارم
    </button>
    <mat-menu #m5="matMenu" xPosition="after">
      <a [routerLink]="['/Companies']" mat-menu-item>نمونه</a>
           </mat-menu>
  </div>


  <div>
    <button *ngIf="authApi.menuAccess(['superadmin', 'admin'])" mat-button [matMenuTriggerFor]="m4">
      تنظیمات
    </button>
    <mat-menu #m4="matMenu" xPosition="after">
      <a [routerLink]="['/AppUsers']" mat-menu-item>کابران</a>
      <a [routerLink]="['/AppLogs']" mat-menu-item>تاریخچه فعالیت</a>
      <!-- <a [routerLink]="['/SMSLogs']" mat-menu-item>تاریخچه ارسال پیامک</a> -->
      <!-- <a [routerLink]="['/EmailLogs']" mat-menu-item>تاریخچه ارسال ایمیل</a> -->
      <a [routerLink]="['/AppError']" mat-menu-item>تاریخچه خطا</a>
      <a [routerLink]="['/AppSetting']" mat-menu-item>تنظیمات سامانه</a>
    </mat-menu>
  </div>

  <span style="flex: 1 1 auto"></span>

  <div *ngIf="authApi.isAuth" class="profilemenu" mat-icon-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row">
      <mat-icon>person</mat-icon>
      <span style="font-size: small; padding-left: 4px">{{
        authApi.getFullName
        }}</span>
    </div>
  </div>
  <mat-menu #userMenu="matMenu" xPosition="after">
    <a mat-menu-item>حساب کاربری</a>
    <a mat-menu-item>تغییر رمز</a>
    <button (click)="authApi.Logout()" mat-menu-item>خروج</button>
  </mat-menu>
  <button mat-mini-fab (click)="authApi.Logout()" matTooltip="خروج از سامانه">
    <mat-icon class="mat-12">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<div style="padding-bottom: 50px">
  <router-outlet></router-outlet>
</div>
<div *ngIf="authApi.isAuth" style="
      background-color: #f3f3f3ba;
      height: 36px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      margin-top: 50px;
    ">
  <div fxLayout="row">
    <button mat-button>حساب کاربری</button>
    <span style="flex: 1 1 auto"></span>

    <div style="
          color: black;
          font-size: small;
          padding-top: 12px;
          padding-left: 8px;
        ">
      امروز: {{ date | jalali }} ■
      <span style="font-size: x-small">[{{ authApi.getRole().role }}]</span> ■
      ver:
      {{ appversion }}
    </div>
  </div>
</div>