<h1 dir="rtl" mat-dialog-title>{{title}}</h1>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div mat-dialog-content>
<div class="loading-shade" *ngIf="isLoadingResults">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
 <mat-form-field fxFlex>
<mat-label>نام</mat-label>
<input matInput id="first" name="first" [(ngModel)]="model.first" required 
 minlength="2" maxlength="250" type="text" autocomplete="off" #f3="ngModel">
<mat-error *ngIf="  f3.invalid && (f3.dirty || f3.touched) && f3.errors?.['required']">
<strong>نام</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f3.invalid && (f3.dirty || f3.touched) && f3.errors?.['minlength']">
<strong>نام</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>نام خانوادگی</mat-label>
<input matInput id="last" name="last" [(ngModel)]="model.last" required 
 minlength="2" maxlength="250" type="text" autocomplete="off" #f4="ngModel">
<mat-error *ngIf="  f4.invalid && (f4.dirty || f4.touched) && f4.errors?.['required']">
<strong>نام خانوادگی</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f4.invalid && (f4.dirty || f4.touched) && f4.errors?.['minlength']">
<strong>نام خانوادگی</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
 <mat-form-field fxFlex>
<mat-label>First Name</mat-label>
<input matInput id="enLast" name="enLast" [(ngModel)]="model.enLast"  minlength="2" maxlength="250" type="text" autocomplete="off" #f5="ngModel">
<mat-error *ngIf="  f5.invalid && (f5.dirty || f5.touched) && f5.errors?.['minlength']">
<strong>First Name</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>Last Name</mat-label>
<input matInput id="enFirst" name="enFirst" [(ngModel)]="model.enFirst"  minlength="2" maxlength="250" type="text" autocomplete="off" #f6="ngModel">
<mat-error *ngIf="  f6.invalid && (f6.dirty || f6.touched) && f6.errors?.['minlength']">
<strong>Last Name</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
<app-calendar lable="تاریخ تولد"  [selectedDate]="model.birth" (selected)="onBirthSelected($event)" fxFlex ></app-calendar>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
 <mat-form-field fxFlex>
<mat-label>کدملی/ شماره گذرنامه</mat-label>
<input matInput id="nationalCode" name="nationalCode" [(ngModel)]="model.nationalCode" required 
 minlength="2" maxlength="10" type="text" autocomplete="off" #f8="ngModel">
<mat-error *ngIf="  f8.invalid && (f8.dirty || f8.touched) && f8.errors?.['required']">
<strong>کدملی/ شماره گذرنامه</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f8.invalid && (f8.dirty || f8.touched) && f8.errors?.['minlength']">
<strong>کدملی/ شماره گذرنامه</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>کد پستی</mat-label>
<input matInput id="postCode" name="postCode" [(ngModel)]="model.postCode"  minlength="2" maxlength="10" type="text" autocomplete="off" #f9="ngModel">
<mat-error *ngIf="  f9.invalid && (f9.dirty || f9.touched) && f9.errors?.['minlength']">
<strong>کد پستی</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>تلفن ثابت</mat-label>
<input matInput id="tel" name="tel" [(ngModel)]="model.tel"  minlength="2" maxlength="11" type="text" autocomplete="off" #f10="ngModel">
<mat-error *ngIf="  f10.invalid && (f10.dirty || f10.touched) && f10.errors?.['minlength']">
<strong>تلفن ثابت</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
 <mat-form-field fxFlex>
<mat-label>تلفن همراه</mat-label>
<input matInput id="mobile" name="mobile" [(ngModel)]="model.mobile" required 
 minlength="2" maxlength="11" type="text" autocomplete="off" #f11="ngModel">
<mat-error *ngIf="  f11.invalid && (f11.dirty || f11.touched) && f11.errors?.['required']">
<strong>تلفن همراه</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f11.invalid && (f11.dirty || f11.touched) && f11.errors?.['minlength']">
<strong>تلفن همراه</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>پست الکترونیکی</mat-label>
<input matInput id="email" name="email" [(ngModel)]="model.email" required 
 minlength="2" maxlength="250" type="text" autocomplete="off" #f12="ngModel">
<mat-error *ngIf="  f12.invalid && (f12.dirty || f12.touched) && f12.errors?.['required']">
<strong>پست الکترونیکی</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f12.invalid && (f12.dirty || f12.touched) && f12.errors?.['minlength']">
<strong>پست الکترونیکی</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>نشانی</mat-label>
<input matInput id="address" name="address" [(ngModel)]="model.address"  minlength="2" maxlength="100" type="text" autocomplete="off" #f13="ngModel">
<mat-error *ngIf="  f13.invalid && (f13.dirty || f13.touched) && f13.errors?.['minlength']">
<strong>نشانی</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<app-organization-selector [setDefault]="false"  [selectedID]="model.organizationId" (selected)="onOrganizationIdSelected($event)" fxFlex></app-organization-selector>
<app-person-group-selector [setDefault]="false"  [selectedID]="model.personGroupId" (selected)="onPersonGroupIdSelected($event)" fxFlex></app-person-group-selector>
<app-gender-selector [setDefault]="false"  [selectedID]="model.genderId" (selected)="onGenderIdSelected($event)" fxFlex></app-gender-selector>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<app-calendar lable="زمان ثبت نام"  [selectedDate]="model.register" (selected)="onRegisterSelected($event)" fxFlex ></app-calendar>
<app-calendar lable="آخرین بروزرسانی"  [selectedDate]="model.lastUpdate" (selected)="onLastUpdateSelected($event)" fxFlex ></app-calendar>
<app-calendar lable="آخرین ورود"  [selectedDate]="model.lastLogin" (selected)="onLastLoginSelected($event)" fxFlex ></app-calendar>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<app-calendar lable="آخرین درخواست"  [selectedDate]="model.lastRequest" (selected)="onLastRequestSelected($event)" fxFlex ></app-calendar>
<app-calendar lable="فعالیت"  [selectedDate]="model.lastCall" (selected)="onLastCallSelected($event)" fxFlex ></app-calendar>
 <mat-form-field fxFlex>
<mat-label>شماره کارت</mat-label>
<input matInput id="cardNumber" name="cardNumber" [(ngModel)]="model.cardNumber"  minlength="2" maxlength="20" type="text" autocomplete="off" #f22="ngModel">
<mat-error *ngIf="  f22.invalid && (f22.dirty || f22.touched) && f22.errors?.['minlength']">
<strong>شماره کارت</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
 <mat-form-field fxFlex>
<mat-label>موجودی کیف پول</mat-label>
<input matInput id="walletCredit" name="walletCredit" [(ngModel)]="model.walletCredit"  type="number" maxlength="10"  pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" autocomplete="off" #f23="ngModel"> 
<mat-error *ngIf="  f23.invalid && (f23.dirty || f23.touched) && f23.errors?.['pattern']">
<strong>موجودی کیف پول</strong> باید با ارقام ثبت شود.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>توکن تلفن همراه</mat-label>
<input matInput id="mobileToken" name="mobileToken" [(ngModel)]="model.mobileToken" required 
 minlength="2" maxlength="8" type="text" autocomplete="off" #f27="ngModel">
<mat-error *ngIf="  f27.invalid && (f27.dirty || f27.touched) && f27.errors?.['required']">
<strong>توکن تلفن همراه</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f27.invalid && (f27.dirty || f27.touched) && f27.errors?.['minlength']">
<strong>توکن تلفن همراه</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
 <mat-form-field fxFlex>
<mat-label>شبا</mat-label>
<input matInput id="shaba" name="shaba" [(ngModel)]="model.shaba"  minlength="2" maxlength="21" type="text" autocomplete="off" #f28="ngModel">
<mat-error *ngIf="  f28.invalid && (f28.dirty || f28.touched) && f28.errors?.['minlength']">
<strong>شبا</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<app-calendar lable="انقضاء"  [selectedDate]="model.expireTime" (selected)="onExpireTimeSelected($event)" fxFlex ></app-calendar>
 <mat-form-field fxFlex>
<mat-label>نام پدر</mat-label>
<input matInput id="dadName" name="dadName" [(ngModel)]="model.dadName" required 
 minlength="2" maxlength="200" type="text" autocomplete="off" #f34="ngModel">
<mat-error *ngIf="  f34.invalid && (f34.dirty || f34.touched) && f34.errors?.['required']">
<strong>نام پدر</strong> اجباری است.
</mat-error>
<mat-error *ngIf="  f34.invalid && (f34.dirty || f34.touched) && f34.errors?.['minlength']">
<strong>نام پدر</strong> حداقل 2 حرفی است.
</mat-error>
</mat-form-field>
<app-parent-selector [setDefault]="false"  [selectedID]="model.parentId" (selected)="onParentIdSelected($event)" fxFlex></app-parent-selector>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<app-family-member-type-selector [setDefault]="false"  [selectedID]="model.familyMemberTypeId" (selected)="onFamilyMemberTypeIdSelected($event)" fxFlex></app-family-member-type-selector>
<app-province-selector [setDefault]="false"  [selectedID]="model.provinceId" (selected)="onProvinceIdSelected($event)" fxFlex></app-province-selector>
<app-city-selector [setDefault]="false"  [selectedID]="model.cityId" (selected)="onCityIdSelected($event)" fxFlex></app-city-selector>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<mat-checkbox fxFlex [(ngModel)]="model.avb" name="avb">فعال</mat-checkbox>
<mat-checkbox fxFlex [(ngModel)]="model.getEmail" name="getEmail">دریافت ایمیل</mat-checkbox>
<mat-checkbox fxFlex [(ngModel)]="model.getSMS" name="getSMS">دریافت پیامک</mat-checkbox>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<mat-checkbox fxFlex [(ngModel)]="model.mobileConfirmed" name="mobileConfirmed">تایید تلفن همراه</mat-checkbox>
<mat-checkbox fxFlex [(ngModel)]="model.nationalCodeConfirmed" name="nationalCodeConfirmed">تایید کدملی</mat-checkbox>
<mat-checkbox fxFlex [(ngModel)]="model.postCodeConfirmed" name="postCodeConfirmed">تایید کد پستی</mat-checkbox>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="start auto">
<mat-checkbox fxFlex [(ngModel)]="model.emailConfirmed" name="emailConfirmed">تایید پست الکترونیکی</mat-checkbox>
<mat-checkbox fxFlex [(ngModel)]="model.isMaster" name="isMaster">نفر اصلی</mat-checkbox>
</div>
<mat-dialog-actions>
<button mat-raised-button *ngIf="isEdit" [disabled]="!f.valid" type="submit">ویرایش</button>
<button mat-raised-button *ngIf="!isEdit" [disabled]="!f.valid" type="submit">ثبت</button>
<button mat-raised-button (click)="onNoClick()" type="reset">انصراف</button>
</mat-dialog-actions>
</div>
</form>
